{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <main>
        <section class="container">
            <img class="img-fluid image-home mb-3" src="{{ asset('build/images/image5.jpg') }}">
            <p class="fs-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu
            </p>
        </section>
        <section class="container" >
            <div class="row">
                {% set links = [
                    {'title': 'BLOG', 'path': 'article_index'},
                    {'title': 'Association', 'path': 'association_index'},
                    {'title': 'Sites amis', 'path': 'friendLink_index'},
                    ] %}
            {% for link in links %}
                <div class="col-md-4">
                    <a href="{{ path(link.path) }}"
                    class="btn btn-primary shadow d-block mb-2 p-lg-5 p-2 p-md-4 fs-lg-2 fs-4 text-uppercase">
                    {{ link.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
