{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container"><img class="img-fluid image" src="{{ asset('build/images/image5.jpg') }}" >
                <div class="about-me">
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu</em></p>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills" >
            <div class="container d-flex justify-content-center">
                <div class="heading"></div>
                <div class="row d-flex justify-content-center onglet">
                    <div class="col-md-4 bg-primary mx-2 w-25" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse" >
                        <h3 class="text-center mt-3">Blog</h3>
                    </div>
                    <div class="col-md-4 bg-primary mx-2 w-25" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse" >
                        <h3 class="text-center mt-3">Association</h3>
                    </div>
                    <div class="col-md-4 bg-primary mx-2 w-25" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse" >
                        <h3 class="text-center mt-3">Sites Amis</h3>
                    </div>
                    <div class="w-100"></div>
                    <div class="w-100"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}