includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    excludePaths:
        - src/DataFixtures
        - src/Security
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::findOneBy[A-Z][a-zA-Z]*\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::findBy[A-Z][a-zA-Z]*\(\)#'
        - '#is never written, only read#'
        - '#expects string, mixed given#'
        - '#object\|null given#'
        - '#expects App\Entity\[a-zA-Z0-9\\_]+|null, object|null given#'
        - "#Cannot access offset 'email' on mixed#"
        - "#Cannot access offset 'title' on mixed#"
        - '#ArticleFixtures.php:19#'
        - '#ArticleFixtures.php:20#'
        - '#ArticleFixtures.php:21#'
        - '#ArtistFixtures.php:21#'
        - '#ArtistFixtures.php:22#'
        - '#ArtistFixtures.php:23#'
        - '#TranslationInterface\:\:getTitle#'
        - '#TranslationInterface\:\:setTitle#'
        - '#TranslationInterface\:\:getSlug#'
        - '#TranslationInterface\:\:setSlug#'
        - '#TranslationInterface\:\:getBody#'
        - '#TranslationInterface\:\:setBody#'
        - '#TranslationInterface\:\:getAlt#'
        - '#TranslationInterface\:\:setAlt#'
        - '#TranslationInterface\:\:getSummary#'
        - '#TranslationInterface\:\:setSummary#'
        - '#TranslationInterface\:\:getText#'
        - '#TranslationInterface\:\:setText#'
        - '#TranslationInterface\:\:getPoster#'
        - '#TranslationInterface\:\:setPoster#'
        - '#TranslationInterface\:\:getVideo#'
        - '#TranslationInterface\:\:setVideo#'
        - '#TranslationInterface\:\:getDate#'
        - '#TranslationInterface\:\:setDate#'
        - '#TranslationInterface\:\:getDuration#'
        - '#TranslationInterface\:\:setDuration#'
        - '#TranslationInterface\:\:getCategory#'
        - '#TranslationInterface\:\:setCategory#'
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
