<form method="post" action="{{ path('admin_article_category_delete', {'id': article_category.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir suprimer cette catégorie d\'article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ article_category.id) }}">
    <button class="btn">{{ 'Supprimer'|trans }}</button>
</form>
