{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text-center my-5">{{ content.title }}</h1>
		<p>{{ content.body }}</p>
	</main>
{% endblock %}
