nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar.gradient{
    height: 87px;
    
}

a.nav-link.active.text-light{
   text-decoration: blue;
}


nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar.gradient{
    height: 87px;
    padding-right:20%;
    padding-left:20%;
}

a.navbar-brand.logo{
    height: 48px;
    font-size: 37px;
    padding-top: 0px;
    padding-bottom: 0px;
}
 


