$primary: #3366CC;
$dropdown-min-width: 20rem;
$secondary: #CCF2FF;
$font-family-maguelonne:'Gotu', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
$font-family-sans-serif:  'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;

$box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
