
section.portfolio-block.block-intro{
    padding: 30px 0px;
    padding-bottom: 0px; 
}


img.img-fluid.image{
    width: 800px;
}


p{
    font-size: 15px;
    margin-top: 11px;
}

section.portfolio-block.skills{
    padding: 0px 0px;
}

.onglet{
    width: 1023px;
    height: 151px;
    margin-top: -16px;
}

div.col-md-4{
    padding: 33px;
    border-radius: 0;
}

h3{
    font-size: 35px;
}

/* @media (min-width: 768px){
    .container-onglet{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
} */


