<nav class="navbar p-3 navbar-light navbar-expand-lg bg-secondary fixed-top">
    <div class="container"><a class="navbar-brand logo ms-lg-0" href="#">Maguelone</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-4 my-auto"><a class="nav-link text-decoration-none hover" href="#">Blog</a></li>
                <li class="nav-item mx-4 my-auto"><a class="nav-link text-decoration-none hover" href="#">Association</a></li>
                <li class="nav-item mx-4 my-auto"><a class="nav-link text-decoration-none hover" href="#">Calendrier</a></li>
                <li class="nav-item mx-4 my-auto"><a class="nav-link text-decoration-none hover" href="#">Artistes</a></li>
                <li class="nav-item mx-4 my-auto"><a class="nav-link text-decoration-none hover" href="#">Sites Amis</a></li>
                <li class="nav-item mx-2 ms-lg-4"><button class="btn btn-light btn-lg border rounded-circle" type="submit">flag</button></li>
            </ul>
        </div>
    </div>
</nav>