<nav class="navbar navbar-dark p-3 navbar-expand-lg fixed-top bg-primary">
    <div class="container"><a class="navbar-brand logo" href="#">Maguelone</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active text-light" href="index.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link active text-light" href="index.html">Association</a></li>
                <li class="nav-item"><a class="nav-link active text-light" href="index.html">SItes Amis</a></li>
                <li class="nav-item"><a class="nav-link active text-light" href="index.html">Calendrier</a></li>
                <li class="nav-item"><a class="nav-link active text-light" href="index.html">Artistes</a></li>
                <li class="nav-item"><button class="btn btn-light btn-lg border rounded-pill" type="submit">flag</button></li>
            </ul>
        </div>
    </div>
</nav>

      