{% extends 'admin/base.html.twig' %}

{% block title %}Edit artist
{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center">Modifier un artiste</h1>

	{{ include('/admin/artist/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('admin_artist_index') }}">Revenir à la liste des artistes</a>
{% endblock %}
