{% extends 'base.html.twig' %}

{% block title %}Edit ArticleCategory{% endblock %}

{% block body %}
    <h1>Édition de la catégorie d'article</h1>

    {{ include('article_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_category_index') }}">Retour à la liste des catégories d'article</a>

    {{ include('article_category/_delete_form.html.twig') }}
{% endblock %}
