{% extends 'base.html.twig' %}

{% block title %}Catégorie d'articles{% endblock %}

{% block body %}
    <h1>Catégorie d'articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ articleCategory.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('articleCategory_index') }}">Retour à la liste des catégories d'articles</a>

{% endblock %}
