{% extends 'base.html.twig' %}

{% block title %}Page de blog{% endblock %}

{% block body %}
<div class="container-fluid my-2 my-lg-4">
  <div class="row d-flex justify-content-around">
    <div class="btn-group col-12 col-lg-3">
      <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-bs-display="static" data-bs-toggle="dropdown">CATEGORIES</button>
      <div class="dropdown-menu dropdown-menu-lg-end" >
          <a href="#" class="dropdown-item">Pastille 1</a>
          <a href="#" class="dropdown-item">Pastille 2</a>
          <a href="#" class="dropdown-item">Pastille 3</a>
      </div>
  </div>
  <div class="btn-group col-12 col-lg-3">
    <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-bs-display="static" data-bs-toggle="dropdown">ARCHIVES</button>
    <div class="dropdown-menu dropdown-menu-lg-start">
      <a href="#" class="dropdown-item">Pastille 1</a>
      <a href="#" class="dropdown-item">Pastille 2</a>
      <a href="#" class="dropdown-item">Pastille 3</a>
    </div>
</div>
  </div>
</div>

    <div class="container-fluid col-lg-10 col-12">
    <div class="card mb-3 shadow">
      <div class="row no-gutters">
        <div class="col-md-4" style="max-width: 240px;">
          <img src="https://picsum.photos/seed/picsum/200/300" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex justify-content-start">
              <h5 class="card-title me-2">Nov 12</h5>
              <strong class="me-auto">3 minutes</strong>
              <h5>Catégorie</h5>
            </div>
        <h3 class="mb-0">Titre de mon article</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit odio ullam dicta!
              Asperiores obcaecati ducimus nihil possimus dolor eligendi, iusto aspernatur similique omnis esse deserunt deleniti officia? Nam, et deleniti.</p>
            <a href="" class="btn btn-primary">EN LIRE PLUS</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container-fluid col-lg-10 col-12">
      <div class="card mb-3 shadow">
        <div class="row no-gutters">
          <div class="col-md-4" style="max-width: 240px;">
            <img src="https://picsum.photos/seed/picsum/200/300" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="d-flex justify-content-start">
                <h5 class="card-title me-2">Nov 12</h5>
                <strong class="me-auto">3 minutes</strong>
                <h5>Catégorie</h5>
              </div>
          <h3 class="mb-0">Titre de mon article</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio magnam hic
                 accusamus, facilis architecto numquam soluta labore quisquam sapiente repudiandae saepe illo id vitae officiis ut, suscipit impedit temporibus.</p>
              <a href="" class="btn btn-primary">EN LIRE PLUS</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="container-fluid col-lg-10 col-12">
        <div class="card mb-3 shadow">
          <div class="row no-gutters">
            <div class="col-md-4" style="max-width: 240px;">
              <img src="https://picsum.photos/seed/picsum/200/300" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex justify-content-start">
                  <h5 class="card-title me-2">Nov 12</h5>
                  <strong class="me-auto">3 minutes</strong>
                  <h5>Catégorie</h5>
                </div>
            <h3 class="mb-0">Titre de mon article</h3>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ad molestias
                  cum sed aspernatur, repellendus sint doloribus non corporis corrupti, voluptatum quos voluptas fuga est quia nostrum. Incidunt, illo aliquid.</p>
                <a href="" class="btn btn-primary">EN LIRE PLUS</a>
              </div>
            </div>
          </div>
        </div>
        </div>

{% endblock %}
