{% extends 'base.html.twig' %}

{% block title %}Page de blog{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row my-2 my-lg-4 d-flex justify-content-lg-evenly">
        <button type="button" class="col-12 col-lg-4 btn btn-primary btn-lg">CATEGORIE</button>
        <button type="button" class="col-12 col-lg-4 btn btn-primary btn-lg">ARCHIVES</button>
</div>
</div>
    <div class="container-fluid col-lg-10 col-12">
    <div class="card mb-3 shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-4" style="max-width: 240px;">
          <img src="https://picsum.photos/seed/picsum/200/300" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
        <strong class="d-inline-block mb-2 text-primary">World</strong>
        <h3 class="mb-0">Featured post</h3>
        <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="stretched-link">Continue reading</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container-fluid col-lg-10 col-12">
        <div class="card mb-3 shadow">
          <div class="row no-gutters">
            <div class="col-md-4" style="max-width: 240px;">
              <img src="https://picsum.photos/seed/picsum/200/300" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="stretched-link">Continue reading</a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="container-fluid col-lg-10 col-12">
            <div class="card mb-3 shadow-lg">
              <div class="row no-gutters">
                <div class="col-md-4" style="max-width: 240px;">
                  <img src="https://picsum.photos/seed/picsum/200/300" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="stretched-link">Continue reading</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
{% endblock %}
