{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <div>
    <h1 class="d-flex justify-content-center">Création d'un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">Revenir à la liste des articles</a>
    </div>
{% endblock %}
