{% extends 'base.html.twig' %}

{% block title %}Catégorie d'articles{% endblock %}

{% block body %}
    <h1>Catégorie d'articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ article_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('articleCategory_index') }}">Retour à la liste des catégories d'articles</a>

    <a href="{{ path('articleCategory_edit', {'id': article_category.id}) }}">Modifier la catégorie d'articles</a>

    {{ include('articleCategory/_delete_form.html.twig') }}
{% endblock %}
